@{
    ViewBag.Title = "Image Gallery";
}

<div class="row">

    @if (ViewBag.PrevOffset == -1)
            {
        <div class="col-md-1 disabled"></div>
    }
    else
    {
        <div class="col-md-1 horiz-center">
            @Html.ActionLink("prev", "Index", new { offset = ViewBag.PrevOffset, count = ViewBag.Count }, new { @class = "btn btn-default" })
        </div>
    }

    <div class="col-md-10">
        <div class="row">
            @foreach (var image in ViewBag.Images)
            {
                <div class="col-lg-3 col-md-4 col-sm-6" style="height: 100%;">
                    <a href="@Url.Content("~/Images/")@image.FileName" class="thumbnail">
                        <img src="@Url.Content("~/Images/")@image.FileName" width="250" />
                        <p>@image.Description</p>
                    </a>
                </div>
            }
        </div>
    </div>

    @if (ViewBag.NextOffset == -1)
    {
        <div class="col-md-1 disabled"></div>
    }
    else
    {
        <div class="col-md-1">
            <div class="horiz-center">
                @Html.ActionLink("next", "Index", new { offset = ViewBag.NextOffset, count = ViewBag.Count }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
