@model IEnumerable<Dal.Image>

@{
    ViewBag.Title = "Image Gallery";
}

<div class="row" id="image-gallery">
    @foreach (var image in Model)
    {
        <a href="@Url.Content("~/Images/")@image.FileName" data-lightbox="@image.FileName">
            <img src="@Url.Content("~/Images/")@image.FileName" class="gallery-image col-lg-3 col-md-4 col-sm-6 col-xs-12" />
        </a>
    }
</div>

<div class="row pagination" style="display: block;">

    <div class="col-xs-6 text-right">
        @if (ViewBag.PrevOffset != -1)
        {
            @Html.ActionLink("prev", "Index",
                new { offset = ViewBag.PrevOffset, count = ViewBag.Count },
                new { @class = "btn btn-default", id = "prev" })
        }
        else
        {
            <a class="btn btn-default no-link" id="prev">prev</a>
        }
    </div>

    <div class="col-xs-6">
        @if (ViewBag.NextOffset != -1)
        {

            @*<a href="@Url.Action("Index", new { offset = ViewBag.NextOffset, count = ViewBag.Count })"
                    class="btn btn-default"
                    id="next">
                    <img src='@Url.Content("~/img/next.png")' />
                </a>*@
            @Html.ActionLink("next", "Index",
                new { offset = ViewBag.NextOffset, count = ViewBag.Count },
                new { @class = "btn btn-default", id = "next" })

        }
        else
        {
            <a class="btn btn-default no-link" id="next">next</a>
        }
    </div>

</div>

<hr />

@Html.ActionLink("Angular version", "Angular")

@section scripts
{
    @Scripts.Render("~/bundles/image-gallery-ajax")
}
